.background {
 background-image: url("https://tamizhiv2.s3.eu-north-1.amazonaws.com/tamizhi2-0/sand.webp");
  background-size: cover;
  background-position: bottom;
  background-repeat:no-repeat ;
  background-attachment: fixed;
}

.Kingheight {
  margin-top: 20px;
  font-size: 2rem;
  justify-content: center;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.kingtop1 h1 {
  display: flex;
  justify-content: center;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.kingdesc {
  color: #2d2f33;
}

.kingtop1 {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 110px;
  padding-right: 110px;
}

.kingsize {
  width: 80% !important;
  height: 250px !important;
  border-top-right-radius: 60px !important;
  border-bottom-left-radius: 60px !important;
  margin-top: 30px;
}

.kingsize1 {
  width: 80% !important;
  height: 250px !important;
  border-top-left-radius: 60px !important;
  border-bottom-right-radius: 60px !important;
  margin-top: 30px;
}

.kinggap {
  display: flex;
  justify-content: space-between;
}

.kingbutton {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fdf2fa;
  color: #b79775;
  font-size: 1.5rem;
  border: 1px solid white;
  border-radius: 20px;
  margin-right: 20px;
}

.kingtop1 h1 {
  display: flex;
  justify-content: center;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.kingtop2 {
  display: flex;
  gap: 90px;
}

.imagecol {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Kingheight {
  margin-top: 20px;
  font-size: 2rem;
  justify-content: center;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.kingdesc {
  color: #515358;
  text-align: justify;
}

:global(html[lang="ta"]) .kingdesc {
  text-align: left;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 5rem;
  column-gap: 5rem;
}

.kingsize {
  width: 100%;
  height: 400px;
}

@media (max-width: 768px) {
  .kingtop2 {
    display: block;
  }

  .kingtop1 {
    padding: 10px;
  }
}

@media (min-width: 1550px) and (max-width:2560px) {
  .kingtop1 {
    padding: 30px;
  }

  .kingsize {
    width: 60% !important;
    height: 350px;
  }

  .kingsize1 {
    width: 60% !important;
    height: 350px;
  }
}