.container {
  max-width: 600px;
  margin: 100px auto;
  border: 1ps solid !important;
  padding: 30px;
  text-align: center;
  /* border: 1px solid; */
  border-radius: 10px;
  box-shadow: 5px 10px 24px 4px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.warning {
  background-color: #ffc107;
  padding: 1rem;
}
.success {
  background-color: #198754;
  color: white;
  padding: 1rem;
}
.danger {
  background-color: #dc3545;
  color: white;
  padding: 1rem;
}
.title {
  font-size: 3rem;
  font-weight: bold;
  color: #2e1065; /* Dark Purple */
  margin-bottom: 10px;
}

.description {
  font-size: 2rem;
  color: #6b7280; /* Grayish */
  margin-bottom: 30px;
  line-height: 1.5;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.label {
  text-align: left;
  font-weight: 600;
  color: #2e1065; /* Dark Purple */
  font-size: 2rem;
}

.input {
  padding: 12px 15px;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  font-size: 1.5rem;
}

.input:focus {
  outline: none;
  border-color: #7c3aed; /* Light Purple border when focused */
}

.button {
  padding: 15px;
  background-color: #7c3aed;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.button1 {
  margin-top: 15px;
}

.button:hover {
  background-color: #6d28d9; /* Slightly darker purple on hover */
}
